
-- This is an example parameter file for make_font.lua
-- Copy this file as params.lua.
-- Replace values between brakets <> to your choices.
-- Launch make_font.lua params.lua

params = {
	-- Resulting mod name (required)
	-- As this name will be use as texture prefix and so repeated many times,
	-- please avoid long names but keep explicit anyway.
	mod_name = "<your mod name>",

    -- If only one font, have font in title, like "xxx font"
	mod_title = "<your mod title>",

    -- A good description would be "... fonts for font_api"
	mod_descriptiion = "<your mod description>",

	-- List of fons to include to the mod.
	fonts = {
		{
			-- Registered font name (required)
			-- As this name will be use as texture prefix and so repeated many times,
			-- avoid long names. A good name would be a single world all lowercase.
			name = "<your font technical name>",

			-- Registered font label (optional, default capitalized name)
			-- This is the display name for this font. No need to be concise.
			label = "<your font display label>",

			-- True type font file to get glyphs from (required)
			file = "<your font true type font>",

			-- Render pointsize (integer, required)
			-- Try to find a proper value for a good rendering
			pointsize  = <proper rendering height>,

			-- Shoud chars be trimmed? (boolean, required)
			-- Set it to true to reduce texture size
			-- and increase `char_spacing` accordingly.
			-- If results are weird, you may try to set it to false.
			trim = true,

			-- Margin added on top of text textures with this font (integer, optional, default 0)
			margin_top = 3,

			-- Space between consecutive lines (integer, optional, default 0)
			-- Space may be negative to make lines closer.
			line_spacing = -2,

			-- Space between consecutive chars (integer, optional, default 0)
			char_spacing = 2,

			-- Extra codepoints to include to font mod (optional, default none)
			-- Codepoints from 0x0020 to 0x007f (ASCII) are always included.
			-- Codepoint 0x0020 is always considered as a space.
            -- Codepoints not existing in font file will be ignored.
			-- Refer to https://en.wikipedia.org/wiki/Unicode
			codepoints = {
				-- 00a0-00ff Latin-1 Supplement (full)
				{ from=0x00a0, to=0x00ff },

				-- 0100-017f Latin Extended-A (full)
				{ from=0x0100, 0x017f },

				-- 0370-03ff Greek (full)
				{ from=0x0370, 0x03ff },

				-- 0400-04ff Cyrilic (full)
				{ from=0x0400, 0x04ff },

				-- 2000-206f General Punctuation (Limited to Dashes)
				{ from=0x2010, 0x2015 },

				-- 2000-206f General Punctuation (Limited to Quotes)
				{ from=0x2018, 0x201F },

				-- 20a0-20cf Currency Symbols (Limited to Euro symbol)
				{ from=0x20ac, 0x20ac },		
			},
		}
	}
}
